body {
    background-color: #dedddb;
}


.block-divider {
    background-color: whitesmoke;
    width: 75px;
    height: 5px;
    border: 0
}

/* ....................................Navbar*/

.navbar {
    background-color: rgb(51, 50, 120);
}

.navbar-brand {
    color: whitesmoke;
}

.navbar-brand:hover {
    color: #ffe507;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: whitesmoke;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #ffe507;
}

/* ....................................Callout Section*/

.callout-container {
    height: 75vh;
    background: url("../images/homepage-image.jpg") no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.callout-slogan {
    color: whitesmoke;
    font-weight: bold;
    background-color: rgb(51, 50, 120, 0.8);
    padding: 2rem;
    border-radius: 10px;

}

.explainer-container {
    background-color: #dedddb;
}

.explainer-sections {
    background-color:  rgb(51, 50, 120, 0.8);
    box-shadow: 2px 4px rgb(90 90 92 / 54%);
    color: whitesmoke; 
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1rem;
}

.choose-exc-container {
    min-height: 100vh;
    background: url("../images/course-excercises-bg-image.jpg") no-repeat left fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.choose-exc-box {
    background-color: rgb(51, 50, 120, 0.8);
    padding: 3rem;
    margin: 1rem;
    min-width: 75%;
    min-height: 90%;
    max-width: 200px;
    color: whitesmoke;
    border-radius: 15px;
}


.choose-exc-links:hover {
    text-decoration: none;
}

.choose-exc-box:hover {
    background-color: rgba(245, 245, 245, 0.795);
    color: rgb(51, 50, 120);
}


.headings {
    border: 5px solid rgb(51, 50, 120);
    padding: 10px;
    border-radius: 10px;
}

.verb-box {
    text-align: center;
    background-color: rgb(96, 115, 165);
    color: whitesmoke;
    font-size: 1rem;
    margin: 1rem 0.2rem;
    padding: .5rem;
    box-shadow: 1.5px 3px rgb(51, 50, 120);
    border-radius: 4px;
    width: 100%;
}

.verb-box:hover {
    background-color: whitesmoke;
    color:  rgb(96, 115, 165);
}

.excercise-container {
    background-color: rgb(96 144 205 / 36%);
    min-height: 300px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 2px 4px rgb(90 90 92 / 54%);
    padding: 1rem;
}

.input-up {
    max-width: 6rem;
    max-height: 25px;
    background-color: whitesmoke;
    border-color: whitesmoke;
    border-radius: 6px;
    margin: 1px;
    transition: 1s;
}

.input-down {
    min-width: 300px;
    max-height: 25px;
    background-color: whitesmoke;
    border-color: whitesmoke;
    border-radius: 6px;
}

.example-box {
    display: none;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 6px;
    margin-top: 0px;
    box-shadow: 2px 4px rgb(90 90 92 / 54%);
}


.fa-check-circle {
    color: rgb(4, 173, 4);
    font-size: 1.5rem;
}

.fa-times-circle {
    color: rgb(250, 76, 76)
    font-size: 1.5rem;
}

.excercise-steps {
    background-color: rgb(96 144 205 / 36%);
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 2px 4px rgb(90 90 92 / 54%);
    padding: 1rem;
}

.audio-buttons {
    font-size: 3rem;
    background-color: #aebfd500;
    border: none;
}

.fa-play-circle {
    color:#c5c5c5
}

.fa-play-circle:hover {
    color: #bcf9bc
}

.fa-pause-circle {
    color: #fce45e
}

.fa-pause-circle:hover {
    color: #fff09a
}

.fa-stop-circle {
    color: #db2a2a
}

.fa-stop-circle:hover {
    color: #e66363
}

.quiz-container {
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 2px 4px rgb(90 90 92 / 54%);
}

.quiz-text {
    padding: 10px;
    font-weight: 500;
    border: solid 2px rgb(96, 115, 165);
    border-radius: 5px;
    margin: 10px 2px;
}

.quiz-buttons {
    color: whitesmoke;
    background-color: rgb(96, 115, 165);
    text-align: center;
    box-shadow: 1.5px 3px rgb(51, 50, 120);   
    width: 100%;
    margin-top:10px;
}

.correctButton {
    background-color: rgb(4, 173, 4);
}

.wrongButton {
    background-color: rgb(250, 76, 76)
}

.quiz-buttons:hover {
    border-color: #fce45e;
}

